{%extends 'main/base.html'%}
{%block title%}View List{%endblock%}

{%block content%}
<h1>{{ls.name}}</h1>
{%for item in ls.item_set.all %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            {%if item.complete == False%}
            <input type="checkbox", value="clicked", name="c{{item.id}}"/>{{item.text}}
            {% elif item.complete == True%}
            <input type="checkbox", value="clicked", name="c{{item.id}}" checked/>{{item.text}}
            {% endif %}
        </div>
            <input type="text" , value="{{item.text}}" class="form-control"/>
    </div>
{%endfor%}


<form method="POST" action="#">
    {%csrf_token%}
<button type="submit" name="save", value="save">Save</button>
<input type="text", name="new"/>
<button type="submit", name="newItem", value="newItem">Add Item</button>
</form>
{%endblock%}